{
    encode zstd gzip
    header -Server
}

fastapi-twilio.rockballsmedia.eu {
    # Proxy HTTP classique
    reverse_proxy 127.0.0.1:5000

    # Matcher pour WS media-stream
    @media_stream {
        path /media-stream*
    }
    reverse_proxy @media_stream 127.0.0.1:5000 {
        transport http {
            versions h2c 1.1
        }
    }

    tls {
        email you@your.email
    }
}

