{
  # Désactive HTTP/3
  experimental_http3 off
  encode zstd gzip
  header -Server
}

fastapi-twilio.rockballsmedia.eu {
  # HTTP classique
  reverse_proxy 127.0.0.1:5000
  
  # WebSocket matcher
  @ws {
    path /media-stream /media-stream
  }
  reverse_proxy @ws 127.0.0.1:5000 {
    transport http {
      versions h2c 1.1
    }
  }

  tls {
    email rockballsmedia@gmail.com
  }
}
